*{
    box-sizing: border-box;
}
.title{
    color: rgb(178, 167, 185);
    padding-top: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 3px 2px 2px black;
}

.cont{
    height: 100vh;
    background-image:url('https://i.imgur.com/8w87YgS.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1d2025;
}
.img{
    width: 200px;
    padding: 10px;
}